/* Meghan Satterley, Spring 2023, Personal Portfolio Website, Style */

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES */

:root {
	--header-height: 1.5rem;
	/* COLOR */

	--hue: 210;
	--first-color: hsl(var(--hue), 100%, 70%);
	--first-color-alt: hsl(var(--hue), 56%, 35%);
	--title-color: hsl(228, 8%, 95%);
	--text-color: hsl(228, 8%, 65%);
	--body-color: hsl(228, 15%, 20%);
	--container-color: hsl(228, 15%, 15%);
	/* FONT AND TYPOGRAPHY */

	--body-font: "Poppins", sans-serif;
	--biggest-font-size: 2rem;
	--bigger-font-size: 1.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/* FONT WEIGHT */
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	/* INDEX */

	--z-tooltip: 10;
	--z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */

@media screen and (min-width: 1152px) {
	:root {
		--biggest-font-size: 4rem;
		--bigger-font-size: 2rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/* BASE */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

input,
textarea,
button,
body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
}

input,
textarea,
button {
	outline: none;
	border: none;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
svg {
	height: auto;
	max-width: 100%
}

/* CLASSES */

.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding-block: 5rem 2rem;
}

.section_title, .section_subtitle {
	text-align: center;
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

.section_title {
	font-size: var(--h1-font-size);
	margin-top: .75rem;
	margin-bottom: 1rem;
}

.section_subtitle {
	font-size: var(--small-font-size);
	margin-top: .5rem;
	margin-bottom: .25rem;
}

	.section_subtitle span {
		color: var(--first-color);
	}

.main {
	overflow: hidden;
}

/* HEADER AND NAV */

.header {
	position: fixed;
	width: 100%;
	background-color: var(--container-color);
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
}

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_logo {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

	.nav_logo span {
		color: var(--first-color);
	}

.nav_toggle, .nav_close {
	display: flex;
	font-size: 1.25rem;
	color: var(--title-color);
	cursor: pointer;
}

/* MOBILE */
@media screen and (max-width: 1023px) {
	.nav_menu {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: hsla(0, 0%, 10%, .3);
		width: 75%;
		height: 100%;
		padding: 4.5rem 0 0 3rem;
		backdrop-filter: blur(24px);
		-webkit-backdrop-filter: blur(24px); /* safari */
		transition: right .4s;
	}
}

.nav_list {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}

.nav_link {
	color: var(--title-color);
	font-weight: var(--font-medium);
	transition: color .4s;
}

	.nav_link:hover {
		color: var(--first-color);
	}

.nav_close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

/* SHOW MENU */

.show-menu {
	right: 0;
}

/* BLUR */

.blur-header {
	background-color: transparent;
}

	.blur-header::after {
		content: '';
		position: absolute;
		width: 1000%;
		height: 100%;
		background-color: hsla(0, 0%, 10%, .3);
		backdrop-filter: blur(24px);
		-webkit-backdrop-filter: blur(24px); /* safari */
		top: 0;
		left: 0;
		z-index: -1;
	}
/* ACTIVE LINK */

.active-link {
	color: var(--first-color);
}

/* WELCOME */

.welcome {
	background-color: var(--containter-color);
}

.welcome_container {
	padding-top: 2rem;
	row-gap: 2.5rem;
}

.welcome_content {
	display: grid;
	row-gap: 2rem;
}

.welcome_data {
	text-align: center;
}

.welcome_subtitle, .welcome_grade {
	font-size: var(--bigger-font-size);
}

	.welcome_subtitle span, .welcome_title {
		color: var(--first-color);
	}

.welcome_title {
	font-size: var(--biggest-font-size);
	font-weight: var(--font-semi-bold);
}

.welcome_description {
	margin-block: 1rem 1.5rem;
}

.welcome_social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.welcome_social-link {
	display: flex;
	background-color: var(--first-color-alt);
	padding: .5rem;
	color: var(--title-color);
	font-size: 1.5rem;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: transform .4s;
}

	.welcome_social-link:hover {
		transform: translateY(-.25rem);
	}

.welcome_image {
	justify-self: center;
}

.welcome_blob {
	width: 320px;
	fill: var(--first-color);
	filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
}

/* BUTTON */

.button {
	display: inline-block;
	background-color: var(--first-color);
	padding: 1rem 1.75rem;
	border-radius: .5rem;
	color: var(--title-color);
	font-weight: var(--font-medium);
	transition: box-shadow .4s;
}

	.button:hover {
		box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
	}

/* ABOUT */

.about_container {
	row-gap: 2.5rem;
}

.about_data {
	text-align: center;
}

.about_description {
	margin-bottom: 2rem;
}

.about_image {
	justify-self: center;
}

.about_blob {
	width: 320px;
}

	.about_blob path {
		stroke: var(--first-color);
	}

/* RESUME */

.resume_container {
	padding-bottom: 2rem;
	row-gap: 3.5rem;
}

.resume_data {
	text-align: center;
}

.resume_description {
	margin-bottom: 2rem;
}

.resume_content, .resume_group {
	display: grid;
}

.resume_content {
	grid-template-columns:max-content;
	column-gap: 4rem;
	justify-content: center;
	align-items: baseline;
}

.resume_group {
	row-gap: .25rem;
	list-style: none;
}

.resume_item {
	font-weight: var(--h1-font-size);
	color: var(--title-color);
}

	.resume_item span {
		color: var(--first-color);
	}




/* SKILLS */

.skills {
	background-color: var(--container-color);
}

.skills_container {
	padding-bottom: 2rem;
	row-gap: 3.5rem;
}

.skills_data {
	text-align: center;
}

.skills_description {
	margin-bottom: 2rem;
}

.skills_content, .skills_group {
	display: grid;
}

.skills_content {
	grid-template-columns: repeat(2, max-content);
	column-gap: 4rem;
	justify-content: center;
	align-items: baseline;
}

.skills_group {
	row-gap: 1rem;
	list-style: decimal-leading-zero;
}

.skills_item {
	font-weight: var(--font-medium);
	color: var(--title-color);
}

	.skills_item::marker {
		color: var(--first-color);
	}


/* STRENGTHS */

.strengths_container {
	row-gap: 2rem;
	padding-block: 1rem;
}

.strengths_card {
	text-align: center;
	background-color: var(--containter-color);
	padding: 3rem 1.25rem;
	border-radius: 1rem;
	border: 2px solid var(--container-color);
	transition: border .4s;
}

.strengths_icon {
	display: block;
	font-size: 4rem;
	color: var(--first-color);
	margin-bottom: .75rem;
}

.strengths_title {
	font-size: var(--h2-font-size);
	margin-bottom: 1.5rem;
}

.strengths_card:hover {
	border: 2px solid var(--first-color);
}

/* PROJECTS */

.projects {
	background-color: var(--container-color);
}

.projects_container {
	row-gap: 2rem;
	justify-content: center;
	padding-block: 1rem;
}

.projects_card {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.projects_img {
	object-fit: cover;
	width: 640px;
	height: 420px;
}

.projects_model {
	position: absolute;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px); /* safari */
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: bottom .4s;
}

.projects_subtitle, .projects_button {
	color: var(--title-color);
	font-size: var(--small-font-size);
}

.projects_subtitle {
	display: block;
	margin-bottom: .25rem;
}

.projects_title {
	font-size: var(--h2-font-size);
	margin-bottom: .75rem;
}

.projects_button {
	display: flex;
	align-items: center;
	column-gap: .5rem;
	font-weight: var(--font-medium);
}

	.projects_button i {
		font-size: 1.25rem;
	}

.projects_card:hover .projects_model {
	bottom: 0;
}

/* CONTACT */

.contact_container {
	padding-top: 1rem;
}

.contact_form, .contact_group {
	display: grid;
	row-gap: 1rem;
}

.contact_form {
	position: relative;
}

.contact_input {
	padding: 1rem 1.25rem;
	border-radius: .5rem;
	background-color: var(--container-color);
	color: var(--title-color);
}

	.contact_input::placeholder {
		color: var(--text-color);
	}

.contact_form textarea {
	height: 11rem;
	resize: none;
	margin-bottom: 2rem;
}

.contact_button {
	justify-self: center;
	cursor: pointer;
	margin-bottom: 2.5rem;
}

.contact_message {
	position: absolute;
	left: 0;
	bottom: 4.5rem;
	font-size: var(--small-font-size);
	color: var(--title-color);
}
/* FOOTER */

.footer {
	background-color: var(--container-color);
	padding-block: 3.5rem 2rem;
}

.footer_container {
	row-gap: 2rem;
	text-align: center;
}

.footer_title {
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: .25rem;
}

	.footer_title span {
		color: var(--first-color);
	}

.footer_grade {
	font-size: var(--normal-font-size);
}

.footer_social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.footer_social-link {
	display: flex;
	background-color: var(--first-color-alt);
	padding: .5rem;
	color: var(--title-color);
	font-size: 1.5rem;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: transform .4s;
}

	.footer_social-link:hover {
		transform: translateY(-.25rem);
	}

.footer_copy {
	font-size: var(--smaller-font-size);
	margin-top: 2rem;
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: .6rem;
	border-radius: .5rem;
	background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(228, 8%, 35%);
	border-radius: .5rem;
}

	::-webkit-scrollbar-thumb:hover {
		background-color: hsl(228, 8%, 45%);
	}
/* SCROLL UP */

.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -50%;
	background-color: var(--body-color);
	padding: 6px;
	display: inline-flex;
	border-radius: .25rem;
	color: var(--first-color);
	font-size: 1.25rem;
	box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
	z-index: var(--z-tooltip);
	transition: bottom .4s, transform .4s;
}

	.scrollup:hover {
		transform: translateY(-.25rem);
	}

/* SHOW SCROLL */

.show-scroll {
	bottom: 3rem;
}

/* BREAKPOINTS */

/* SMALL */

@media screen and (max-width: 320px) {
	.container {
		margin-inline: 1rem;
	}

	.resume_content {
		grid-template-columns: max-content;
		row-gap: 1rem;
	}

	.skills_content {
		grid-template-columns: max-content;
		row-gap: 1rem;
	}

	.strengths_card {
		padding-block: 1.5rem;
	}
}

/* MEDIUM */
@media screen and (min-width: 576px) {
	.welcome_container, .about_container, 
	.resume_container, .skills_container,
	.strengths_container, .projects_container,
	.contact_container {
		grid-auto-columns: 360px;
		justify-content: center;
	}
}

@media screen and (min-width: 768px) {
	.nav_menu {
		width: 55%;
	}

	.welcome_container, .about_container, .resume_container, .skills_container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.welcome_data, .about_data, .resume_data, .skills_data,
	:is(.about_data, .resume_data, .skills_data)
	:is(.section_subtitle, .section_title) {
		text-align: initial;
	}

	.welcome_social {
		justify-content: initial;
	}

	.welcome_blob, .about_blob {
		width: 400px;
	}

	.about_data {
		order: 1;
	}

	.resume_content {
		grid-template-columns: repeat(2, max-content);
	}
	.resume_group {
		row-gap: .25rem;
		list-style: none;
	}
	.resume_item {
		font-weight: var(--h1-font-size);
		color: var(--title-color);
	}

	.strengths_container, .projects_container {
		grid-template-columns: repeat(2, 352px);
	}
}

/* LARGE */
@media screen and (min-width: 1023px) {
	.section {
		padding-block: 7rem 2rem;
	}

	.section_subtitle {
		font-size: var(--normal-font-size);
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}

	.nav_close, .nav_toggle {
		display: none;
	}

	.nav_list {
		flex-direction: row;
		column-gap: 3rem;
	}

	.nav_menu {
		width: initial;
	}

	.blur-header::after {
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px); /* safari */
	}
}

@media screen and (min-width: 1152px) {
	.container {
		margin-inline: auto;
	}

	.welcome_container {
		grid-template-columns: 455px 550px;
		column-gap: 7rem;
		padding-block: 2rem 3rem;
	}

	.welcome_blob {
		width: 550px;
	}

	.welcome_content {
		row-gap: 4.5rem;
	}

	.welcome_description {
		margin-block: 1.5rem 2.5rem;
	}

	.welcome_social {
		column-gap: 1.5rem;
	}

	.about_container {
		grid-template-columns: 550px 460px;
		column-gap: 4.5rem;
		padding-bottom: 1rem;
	}

	.about_blob {
		width: 550px;
	}

	.about_description {
		margin-bottom: 3rem;
	}

	.resume_container {
		grid-template-columns: 340px 425px;
		column-gap: 10rem;
		padding-bottom: 4rem;
	}

	.resume_description {
		margin-bottom: 3rem;
	}

	.resume_content {
		column-gap: 4rem;
	}

	.resume_group {
		row-gap: 1rem;
	}

	.resume_item {
		font-size: var(--small-font-size);
	}

	.skills_container {
		grid-template-columns: 340px 425px;
		column-gap: 10rem;
		padding-bottom: 4rem;
	}

	.skills_description {
		margin-bottom: 3rem;
	}

	.skills_content {
		column-gap: 8rem;
	}

	.skills_group {
		row-gap: 1.5rem;
	}

	.skills_item {
		font-size: var(--h3-font-size);
	}

	.strengths_container {
		grid-template-columns: repeat(3, 352px);
		padding-block: 2.5rem 4rem;
	}

	.strengths_card {
		padding: 3.5rem 2rem;
	}

	.projects_container {
		grid-template-columns: repeat(3,350px);
		row-gap: 3rem;
		padding-block: 2.5rem 4rem;
	}

	.projects_button {
		font-size: var(--normal-font-size);
	}

	.contact_container {
		grid-template-columns: 680px;
		padding-block: 2.5rem 2rem;
	}

	.contact_form {
		row-gap: 1.5rem;
	}

	.contact_group {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}

	.contact_input {
		padding: 1.5rem;
	}

	.contact_form textarea {
		height: 20rem;
	}

	.footer {
		padding-block: 4.5rem 4rem;
	}

	.footer_container {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		text-align: initial;
	}

	.footer_title {
		font-size: var(--bigger-font-size)
	}

	.footer_social {
		column-gap: 1.5rem;
	}

	.footer_copy {
		margin: 0;
		justify-self: flex-end;
	}

	.scrollup {
		right: 3rem;
	}
}
